ecommerce-backend/node_modules/
ecommerce-backend/logs/*
ecommerce-backend/.docker/
ecommerce-backend/.docker/data/db/*
ecommerce-backend/.docker/data/redis/*
ecommerce-backend.idea
ecommerce-backend.docker/data/*
ecommerce-backend/local/
